:root {
    --off-black: #121314;
    --off-white: #e8e0d1;
  }

html {
    scroll-behavior: smooth;
  }
body{
    background-color: var(--off-black);
    max-width: 2400px;
}
/*============= NAVIGATION =============*/
.navbar{
    position: sticky;
    top: 0;
    z-index: 1071;
    background-color: var(--off-black);
}
.navbar img{
    height: 5vh;
    padding-left: 4vw;
}
.navbar a{
    color: var(--off-white);
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1.5vh;
}


figcaption{
    font-size: .7rem;
}

.fixed-background{
    position: relative;
    background-image: url("img/main.jpg");
    background-size: auto;
    height: 80vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
   
}
.title{
    background-color: var(--off-black);
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    opacity: 80%;
    transform: translate(-50%, -50%);
    justify-content: center;
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 25px;
}
.title h1, h3, i{
    opacity: 1;
    font-weight: bold;
    color: var(--off-white);
    font-size: 5vh;
    text-transform: uppercase;
    font-family: 'Marcellus', serif;
}
h3{
    font-size: 3.5vh;
    text-transform: lowercase;
}
.line{
    height: 5vh;
    width: 100vw;
    background-color: var(--off-black);
}
.story{
    background-color: var(--off-white);
    position: relative;
    width: 70%;
    left: 10%;
    padding: 5%;
    padding-top: 1.5%;
}
#image1{
    max-width: 28vw;
}
.col{
    align-items: center;
}
p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.1rem;
    padding-top: 5%;
    text-align: justify;
    font-family: 'Noto Sans', sans-serif;
}
h5{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.5rem
}
.interview{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(4, 46, 13, 0.26);
    border-radius: 25px;
    padding-bottom: 2%;
}
.interview p{
    padding-bottom: 0%;
    padding-left: 7%;
    padding-top: 0%;
    padding-right: 7%;
    font-style: italic;
}
.interview i{
    color: var(--off-black);
}
#quote-right{
    float: right;
    opacity: 50%;
}
#quote{
    opacity: 50%;
}
footer{
    background-color: var(--off-white);
    opacity: 75%;
    height: 15vh;
}
footer p{
    font-size: .9rem;
}